.workSection {
  height: auto;
  width: 90%;
  margin: var(--ps-margin-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workSection > h2 {
  font-size: 4em;
  text-align: center;
  padding: var(--ps-padding-s);
}

.workArticle {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: start;
  align-items: start;
  height: auto;
  padding: var(--ps-padding-s);
}

.company {
  font-size: 1em;
}

.date {
  font-size: 0.8em;
}

.company, .date {
  color: var(--ps-tertiary-color);
  
}

.location,
.descriptionWork {
  font-size: 0.85em;
  color: var(--ps-secondary-text-color);
}

@media screen and (max-width: 750px) {
  .workArticle {
    width: 90%;
  }
}

@media screen and (min-width: 750px) {
  .workSection {
    display: grid;
    width: 80%;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 200px repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    align-content: center;
    gap: var(--ps-gap-s);
  }
  .workArticle {
    display: flex;
    width: 260px;
    height: 220px;
    align-content: start;
    justify-content: flex-start;
    padding: var(--ps-padding-s);
  }


.company {
  font-size: 1em;
  padding-top: var(--ps-padding-s);
}

.date {
  font-size: 0.8em;
  padding-bottom: var(--ps-padding-s);
}

.company, .date {
  color: var(--ps-tertiary-color);
  
}
}
